/* Dark Mode */

#title, .featured, .featured::after {
  color: var(--dark0);
}
#byLine {
  color: var(--dark1);
  -webkit-text-decoration-color: var(--dark1);
          text-decoration-color: var(--dark1);
}
#byLine:hover, #byLine:focus-visible {
  background-color: rgba(255, 255, 255, 0.1);
}



/* Light Mode */

@media (prefers-color-scheme: light) {
  #title, .featured, .featured::after {
    color: var(--light1);
  }
  #byLine {
    color: var(--light2);
    -webkit-text-decoration-color: var(--light2);
            text-decoration-color: var(--light2);
  }
  #byLine:hover, #byLine:focus-visible {
    background-color: rgba(0, 0, 0, 0.1);
  }
}



/* Body */

body {
  overflow-y: hidden;
}
input {
  font-family: monospace;
}
button {
  font-family: Tahoma, sans-serif;
}
input, button {
  font-size: 1rem;
}



/* Header */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  background-image: var(--primary);
  padding: 1rem 1rem 0.5rem 1rem;
}
#title {
  text-align: center;
}
#byLine {
  display: inline-block;
  height: 3rem;
  padding: 0.8rem 1rem 0.6rem 1rem;
  border-radius: 1.5rem;
  transition: background-color 200ms;
  text-align: center;
}



/* Gradient button */

.featured {
  background-image: var(--primary);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featured::before, .featured::after {
  position: absolute;
  transition: opacity 200ms;
  opacity: 0;
  border-radius: 1.5rem;
}
.featured::before{
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: var(--secondary);
}
.featured:hover::before, .featured:focus-visible::before, .featured:hover::after, .featured:focus-visible::after {
  opacity: 1;
}



/* Main */

main {
  background-color: var(--dark0);
  padding: 1rem;
  display: flex;
  justify-content: center;
}
#centered {
  width: 100%;
  max-width: 65ch;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;
}

input, button {
  background-color: var(--dark1);
  color: var(--light0);
  border: none;
  border-radius: 1.5rem;
  transition: background-color 200ms;
}
input:hover, input:focus-visible, button:hover, button:focus-visible, .select {
  background-color: var(--dark2);
}

.tall {
  line-height: 1.6rem;
  padding: 0.7rem 1rem 0.7rem 1rem;
}
.short {
  line-height: 1rem;
  padding: 0.45rem 0.75rem 0.45rem 0.75rem;
}

.sideways {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
#length, #wishlist {
  flex: 1;
  min-width: 0;
}
button {
  word-wrap: break-word;
  cursor: pointer;
}
#generate::after {
  content: "Generate";
}



/* Bounce */

#centered {
  perspective: 1000px;
  --delay: 100ms;
}
.sideways {
  perspective: inherit;
  transform-style: preserve-3d;
}
@keyframes bounce {
  0%, 100% { transform: translate3d(0, 0, 0); }
  50% { transform: translate3d(0, 0, 4rem); }
}
#centered.bounce #length, #centered.bounce #wishlist, #centered.bounce #copy, #centered.bounce #generate {
   animation: bounce 400ms;
}
@keyframes fade {
  0%, 100% { color: var(--light0); }
  50% { color: var(--dark1); }
}
#centered.bounce #display {
   animation: bounce 400ms, fade 400ms;
}
#centered.bounce #display { animation-delay: calc(var(--delay) * 4); }
#centered.bounce #length { animation-delay: calc(var(--delay) * 3); }
#centered.bounce #wishlist { animation-delay: calc(var(--delay) * 2); }
#centered.bounce #copy { animation-delay: calc(var(--delay) * 1); }
#centered.bounce #generate { animation-delay: 0; }



/* Copy */

#display {
  box-sizing: border-box;
}
@keyframes copyOut {
  0% { transform: translate3d(0, 0, 0); }
  20%, 30% {
    transform: translate3d(0, 0, 4rem);
    width: 100%;
  }
  80%, 100% {
    transform: translate3d(0, var(--y, 200px), 4rem);
    width: 20%;
  }
}
@keyframes copyIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
#centered.copy #display {
  animation: copyOut 1000ms, copyIn 500ms 1000ms;
}
@keyframes hide {
  0%, 100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  33.33%, 66.66% {
    transform: translate3d(0, 0, -1rem);
    opacity: 0.8;
  }
}
#centered.copy #length, #centered.copy #wishlist, #centered.copy #copy, #centered.copy #generate {
  animation: hide 1500ms;
}
